.range-slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.range-slider-container label {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

.range-slider {
  width: 100%;
  appearance: none;
  height: 6px;
  background: #ccc;
  border-radius: 5px;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a3a49;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #1a3a49;
  border-radius: 50%;
  cursor: pointer;
}
